{% extends 'frontend/base.html' %}

{% block content %}
<div class="col-md-8">
    <h1 class="mb-4">关于我</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">个人简介</h2>
            <p class="card-text">
                一名热爱技术的开发者，专注于Web开发和后端技术。<br>
                
一个简单的个人博客当毕设用，勿抄袭，基本的文章增删改查，用户中心管理，管理员的各种管理，其实都是很基本的功能，创新就是增加了ai聊天的功能，之后可能增加其他ai相关的功能
            </p>
            <h2 class="card-title mt-4">技术栈</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Flask</li>
                <li class="list-group-item">HTML/CSS/JavaScript</li>
                <li class="list-group-item">MySQL</li>
                <li class="list-group-item">Git</li>
            </ul>
            <h2 class="card-title mt-4">联系方式</h2>
            <p class="card-text">
                邮箱：1836053127@qq.com<br>
                GitHub：<a href="https://github.com/qhymqhym/flask-blog" target="_blank">https://github.com/qhymqhym/flask-blog</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
